{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
{#    <link rel="stylesheet" href='{% static 'css/bootstrap.min.css' %}'>#}
    <link rel="stylesheet" href='/static/css/bootstrap.min.css'>
{#    <link rel="stylesheet" href='{% static 'css/style.css'%}'>#}
    <link rel="stylesheet" href='/static/css/style.css'>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
    <div class="container-general">
        <div class="container container-top">
            <div class="row">
                <div class="col-lg-8 offset-md-2">
                    <h1 class="title"> Сайт скро откроется</h1>
                    <h1 class="title"> Оставьте свой адрес ниже</h1>
                    <div class="offset-md-2">
                        <form action="" method="post" class="form-inline align-content-center"> {% csrf_token %}
                            <div class="form-group">
                                <label>Ваше имя: </label>
                                <input name="{{ form.name.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Ваш email: </label>
                                <input name="{{ form.email.name }}" class="form-control">
                            </div>
                                <button type="submit" class="btn btn-primary btn-color">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static "js/jquery-3.3.1.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>